@{
    ViewBag.title = "TTC Touch - Clubgeschiedenis";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Geschiedenis</h2>
        <p>
            De club werd gesticht in 1948 onder de naam RMSC (Royal Maritime
            Sporting Club). Tafeltennis werd toen een onderafdeling van een club die
            zowel tennis, voetbal, basketbal, bridge en biljart omvatte. Zij is
            ontstaan bij de firma CMB, waar men tijdens de middagpauze kon
            tafeltennissen. Enkele sportievelingen sloegen de handen in elkaar en
            stichtten de tafeltennisafdeling.
        </p>

        <p>
            Er werd gestart met 4 ploegen. De andere afdelingen waren toen reeds
            aangesloten bij KSAH Koninklijke Sportvereniging Antwerpen Handel, en de
            tafeltennisafdeling maakte daar geen uitzondering op.
        </p>

        <p>
            In 1965 werd naar aanleiding van de vervlaamsing van het bedrijfsleven
            de naam omgevormd naar KMSOK Koninklijke Maritieme Sport en Ontspanning
            Klub. Deze sportvereniging kon beschikken over een fantastisch mooi
            uitgerust sportcomplex in Wilrijk.
        </p>

        <p>
            Tot 1985 heeft de club steeds in het Handelsverbond gespeeld en vanaf
            het seizoen 1985-1986 werd overgeschakeld naar KAVVV. We startten met 4
            ploegen onder de naam AMI-CMB en werden kampioen in 1e afdeling met de
            A-ploeg.
        </p>

        <p>
            Door omstandigheden van economische aard en reorganisatie van de
            multinational CMB, werd het sportcomplex verkocht en de verschillende
            sporttakken moesten ergens anders onderdak zoeken. In 1992 verhuisden we
            dan naar "Het keizershof" in Wommelgem waar we tot 1995 speelden.
        </p>

        <p>
            Tot het seizoen 1993-1994 werden we gesteund door CMB, maar dit werd
            gestopt. De aangesloten leden besloten toch verder te gaan, maar onder
            een andere naam. Dit werd dan "TOUCH". In 1995 konden we beschikken over
            het <a href="lokaal.html">lokaal "Trefpunt" in Fort 2 Wommelgem</a>,
            waar we nu nog steeds vertoeven.
        </p>
    </div>
</div>
