@{
    ViewBag.active = "home";
}

<div class="bg-light p-2 p-md-3 p-lg-4 rounded-2 m-2 text-center">
    <h1 class="mx-auto my-3">Welkom bij Touch</h1>
    <img src="/images/splash.jpg" type="image/jpeg" width="320" class="img-fluid mx-auto my-3">
</div>

<div class="row">
    <div class="col-lg-12">
        <p>
            Hartelijk welkom bij TTC Touch, een (relatief) kleine tafeltennisclub uit Wommelgem.
            We treden met een twintigtal spelers in <a href="kavvv.html">competitie</a> (KAVVV - Vriendenclubs).
        </p>
        <p>
            <a href="/lokaal.html">Onze lokalen</a> bevinden zich in het fortje van Wommelgem.
        </p>
    </div>
</div>
