@{
    ViewBag.title = "TTC Touch - Lokaal";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Ons Lokaal</h2>
        <p>
            Het lokaal van Touch is gelegen in het fort van Wommelgem, fort 2 van de
            Antwerpse fortengordel en al jaren thuishaven voor tientallen verenigingen.
            Meer informatie over het fort kan je vinden op de
            <a href="https://www.wommelgem.be/geschiedenis-fort-2">site van de gemeente Wommelgem</a>.
        </p>
        <div class="card px-4 py-3 bg-light rounded-3 ms-3 ms-sm-5 my-3 my-md-4" style="max-width: 12rem">
            Trefpunt 35<br>
            Fort II straat<br>
            2160 Wommelgem
        </div>
    </div>
</div>
<div class="row mx-0">
    <div class="col-lg-12">
        <div class="ratio ratio-16x9">
            <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zU_e4m0GVuvQ.kyoUq2710atw"></iframe>
        </div>
    </div>
</div>
