@{
    ViewBag.title = "TTC Touch - Palmares";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Palmares KAVVV</h2>
        <h4>seizoen 2024-2025</h4>
        <dl>
            <dt>kampioen 7e afdeling</dt>
            <dd>Tim Eliaerts, Jacques Van Woersem, Gerry Raassen, Maurits Krols</dd>
            <dt>individueel kampioen 7e afdeling</dt>
            <dd>Jacques Van Woersem</dd>
        </dl>
        <h4>seizoen 2023-2024</h4>
        <dl>
            <dt>verbondskampioen D</dt>
            <dd>Nik Raassen</dd>
            <dt>beker C</dt>
            <dd>Nils Mortelmans, Nik Raassen</dd>
            <dt>beker F</dt>
            <dd>Gerry Raassen, Tim Eliaerts</dd>
        </dl>
        <h4>seizoen 2022-2023</h4>
        <dl>
            <dt>kampioen 6e afdeling</dt>
            <dd>Marc De Blochouse, Erik Van Leemput, Koen Van Bauwel, Nathalie Keuppens</dd>
            <dt>individueel kampioen 6e afdeling</dt>
            <dd>Marc De Blochouse</dd>
        </dl>
        <h4>seizoen 2021-2022</h4>
        <dl>
            <dt>verbondskampioen dubbel E</dt>
            <dd>Joris Patroons, Marc Hens</dd>
        </dl>
        <h4>seizoen 2015-2016</h4>
        <dl>
            <dt>kampioen 6e afdeling</dt>
            <dd>Jimmy Henderickx, Joris Patroons, Marc Hens, Erik Van Leemput</dd>
        </dl>
        <h4>seizoen 2007-2008</h4>
        <dl>
            <dt>verbondskampioen F</dt>
            <dd>Nik Raassen</dd>
        </dl>
        <h4>seizoen 2006-2007</h4>
        <dl>
            <dt>kampioen 7e afdeling</dt>
            <dd>Paula Wyckaert, Marc Hens, Marc Cobben</dd>
            <dt>verbondskampioen dubbel E</dt>
            <dd>Michel Graf&eacute;, Leo Meysman</dd>
        </dl>
        <h4>seizoen 2004-2005</h4>
        <dl>
            <dt>individueel kampioen 5e afdeling</dt>
            <dd>Michel Graf&eacute;</dd>
        </dl>
        <h4>seizoen 2003-2004</h4>
        <dl>
            <dt>kampioen bevordering</dt>
            <dd>Tom Burvenich, Jan De Vrij, Yannick Graf&eacute;</dd>
            <dt>individueel kampioen bevordering</dt>
            <dd>Tom Burvenich</dd>
            <dt>verbondskampioen D</dt>
            <dd>Jan De Vrij</dd>
            <dt>verbondskampioen E</dt>
            <dd>Staf Mennen</dd>
            <dt>beker Bob Daenen</dt>
            <dd>Tom Burvenich, Jan De Vrij</dd>
        </dl>
        <h4>seizoen 2002-2003</h4>
        <dl>
            <dt>individueel kampioen 5e afdeling</dt>
            <dd>Yannick Graf&eacute;</dd>
            <dt>verbondskampioen E</dt>
            <dd>Jan De Vrij</dd>
            <dt>beker E</dt>
            <dd>Yannick Graf&eacute;, Jan De Vrij</dd>
        </dl>
        <h4>seizoen 2001-2002</h4>
        <dl>
            <dt>kampioen 10e afdeling</dt>
            <dd>Paula Wyckaert, Michel Graf&eacute;, Marc Cobben</dd>
            <dt>individueel kampioen 10e afdeling</dt>
            <dd>Michel Graf&eacute;</dd>
            <dt>beker F</dt>
            <dd>Ingrid Nys, Marc Cobben</dd>
        </dl>
        <h4>seizoen 2000-2001</h4>
        <dl>
            <dt>kampioen 5e afdeling</dt>
            <dd>Jos Van Pelt, Herman De Vrij, Leo Meysman</dd>
            <dt>verbondskampioen NG</dt>
            <dd>Yannick Graf&eacute;</dd>
        </dl>
        <h4>seizoen 1998-1999</h4>
        <dl>
            <dt>kampioen 4e afdeling</dt>
            <dd>Peter Caers, Michel Hellin, Marc Van Nieuwenhove</dd>
            <dt>individueel kampioen 4e afdeling</dt>
            <dd>Peter Caers</dd>
        </dl>
        <h4>seizoen 1996-1997</h4>
        <dl>
            <dt>kampioen 4e afdeling</dt>
            <dd>Jackie Maes, Jos Van Pelt, Leo Meysman</dd>
            <dt>kampioen 5e afdeling</dt>
            <dd>Peter Caers, Michel Hellin, Marc Van Nieuwenhove</dd>
            <dt>individueel kampioen 4e afdeling</dt>
            <dd>Leo Meysman</dd>
        </dl>
        <h4>seizoen 1995-1996</h4>
        <dl>
            <dt>kampioen 4e afdeling</dt>
            <dd>Jackie Maes, Jos Van Pelt, Leo Meysman</dd>
        </dl>
        <h4>seizoen 1993-1994</h4>
        <dl>
            <dt>kampioen 4e afdeling</dt>
            <dd>Jackie Maes, Jos Van Pelt, Leo Meysman</dd>
        </dl>
        <h4>seizoen 1992-1993</h4>
        <dl>
            <dt>individueel kampioen 4e afdeling</dt>
            <dd>Staf Mennen</dd>
        </dl>
        <h4>seizoen 1990-1991</h4>
        <dl>
            <dt>individueel kampioen 5e afdeling</dt>
            <dd>Staf Mennen</dd>
        </dl>
        <h4>seizoen 1989-1990</h4>
        <dl>
            <dt>kampioen 6e afdeling</dt>
            <dd>Jackie Maes, Jos Van Pelt, Leo Meysman</dd>
            <dt>individueel kampioen 6e afdeling</dt>
            <dd>Leo Meysman</dd>
        </dl>
        <h4>seizoen 1985-1986</h4>
        <dl>
            <dt>kampioen 1e afdeling</dt>
            <dd>Paul Weyten, J. Degraef, <span class="fas fa-circle-question"></span></dd>
            <dt>verbondskampioen B</dt>
            <dd>Paul Weyten</dd>
            <dt>verbondskampioen dubbel B</dt>
            <dd>Paul Weyten, J. Degraef</dd>
        </dl>
    </div>
</div>
